<% include ../partials/header %>

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= merch.itemImage %>">
                <div class="caption-full">
                    <h4 class="pull-right">$115</h4>
                    <!--<h4 class="pull-right">Free Postage</h4>-->
                    <h4><a><%=merch.itemTitle%></a></h4>
                    <p><%= merch.itemDesc %></p>
                    <p>Created by: <%= merch.userCreate.username %></p>
                    <a  class="btn btn-primary" href="/items/<%=merch._id%>/edit">Update</a>
                    <form id="deleteItem"  action="/items/<%=merch._id%>?_method=DELETE" method="POST">
                            <button  class="btn btn-primary pull-right" type="submit">Delete!</button>
                    </form>
                    
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/items/<%= merch._id %>/comment/new">Add new comment</a>

                </div>
            
                <% merch.itemComm.forEach(function(comm){ %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%=comm.author.username%></strong>
                        <span class="pull-right">10 Days Ago</span>
                        <p>
                             <%=comm.text%> 
                        </p>

                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>



<% include ../partials/footer %>


